* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

section {
    margin-left: 100px;
    margin-top: 100px;
    border: 1px solid black;
    width: 398px;
}
.img {
    position: relative;
}

.tag {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 10px;
}

.hastag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 5px 10px;
}

.name-tag {
    background-color: #f0f0fe;
    color: #7274f2;
    font-weight: 700;
    padding: 3px;
    border-radius: 5px;
}

.star {
    font-weight: 700;
}

h3 {
    padding: 10px;
}

.time {
    color: #8b8d8f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0 15px;
    border-top: 1px solid #eef0f2;
    color: #6366f1;
    font-size: 20px;
    font-weight: 700;
}

button {
    background-color: #0d6efd;
    color: white;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
}