* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
    background-color: #f8f9fa;
}

.title {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-list {
    color: #6366f1;
    background-color: #eaebf9;
    border-radius: 6px ;
    margin-bottom: 16px;
    width: 83px;
    height: 28px;
    padding: 5px;
}

.package {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.package-1 {
    padding: 24px;
    width: 436.75px ;
    height: 340px;
    background-color: #ffffff ;
    border-radius: 8px;
}

.price-list {
    text-align: center;
    border-bottom: 1px solid #dee2e6 ;
    margin-bottom: 24px;
}

h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

span {
    color: #929292;
}

.price {
    color: #6366f1;
    font-size: 35px;
    font-weight: 700;
}

.button-1 {
    border: 1px solid #0d6efd;
    background-color: white;
    color:#0d6efd;
    padding: 6px;
}

.button-2 {
    background-color: #0d6efd;
    color: white;
    border: none;
    outline: none;
    padding: 6px;
}

.list {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}